@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* ---------------------------------------------------------------------------Navbar */

.bg-dark {
  background-color: #242d34 !important ;
}

.navbar a img {
  height: 50px;
}

.navbar .navbar-nav a {
  font-family: "roboto";
  text-transform: uppercase;
  margin-right: 20px;
  letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fafafa;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.btn-outline-light:hover {
  color: #242d34;
  background-color: #ebbc0e;
  border-color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ebbc0e;
}

/* ---------------------------------------------------------------------------Hero-Section index.html */

#hero-section {
  position: relative;
}

#hero-image {
  background-image: url("../img/andre-tan-pRppMPh4Zho-unsplash.webp");
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero-text-background {
  width: 500px;
  height: 150px;
  background-color: rgba(235, 188, 14, 0.9);
  position: absolute;
  bottom: 30px;
  left: 10px;
}

#hero-text-background h3 {
  color: #fafafa;
  font-size: 200%;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

/* ---------------------------------------------------------------------------Hero-Section Packages & Gallery.html */

#hero-packages-image {
  background-image: url("../img/andre-tan-DJviYeGtymc-unsplash.webp");
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-pg-text {
  width: 500px;
  height: 150px;
  background-color: rgba(235, 188, 14, 0.9);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-pg-text h1 {
  color: #fafafa;
  font-size: 300%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#hero-gallery-image {
  background-image: url("../img/tommy-de-giorgio-xOvGzBUb5ts-unsplash.webp");
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------------------------------------------Who Are We? */

#who-are-we {
  text-align: center;
  font-family: "roboto";
  margin-top: 25px;
}

#who-are-we h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#who-are-we p {
  margin-top: 15px;
}

/* ---------------------------------------------------------------------------Three Images */

#images-container {
  margin-top: 2rem;
}

/* ---------------------------------------------------------------------------What Our Customers Said */
#testimonials-container {
  margin-top: 2.5rem;
}

.blockquote-footer {
  background-color: #fafafa;
  color: #242d34;
}

/* ---------------------------------------------------------------------------Where to Find Us */
#map {
  border: none;
  margin: 0 auto;
}

#container-wrapper {
  background-color: rgba(235, 188, 14, 1);
  margin-top: 50px;
}

.find-us-header {
  margin-top: 25px;
  color: #242d34;
}

.contact {
  margin-top: 35px;
  padding-bottom: 35px;
}

.contact p {
  color: #242d34;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* ---------------------------------------------------------------------------Packages Section */

.packages-container {
  margin-top: 5%;
}

.packages h2 {
  color: #fafafa;
  font-family: "Roboto";
  letter-spacing: 3px;
}

.packages p {
  color: #fafafa;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-size: 150%;
}
.packages-list-items {
  list-style-type: none;
  font-family: "Roboto";
  letter-spacing: 1px;
  line-height: 30px;
  color: #fafafa;
  padding: 0;
}

.bg-yellow {
  border-radius: 20px;
  background-color: rgba(235, 188, 14, 1);
  transform: scale(1.1);
  z-index: 1;
  padding-top: 8px;
}

.bg-grey {
  border-radius: 20px;
  background-color: #242d34;
  padding-top: 10px;
}

.bg-yellow h2 {
  color: #242d34;
  font-weight: 600;
}

.bg-yellow .packages-list-items {
  color: #242d34;
  font-weight: 500;
}

.bg-yellow p {
  color: #242d34;
  font-weight: 500;
}

.pg-text {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* ---------------------------------------------------------------------------Footer */

footer {
  font-family: "roboto";
  background-color: #242d34;
  color: white;
}

footer p {
  padding-top: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 25px;
  color: #fafafa;
}

/* ---------------------------------------------------------------------------Booking Modal */

.modal-header {
  background-color: rgba(235, 188, 14, 1);
}

.modal-header h5 {
  color: #242d34;
}

.text-area {
  margin-top: 10px;
}

.btn-primary {
  color: #242d34;
  background-color: rgba(235, 188, 14, 1);
  border-color: rgba(235, 188, 14, 1);
}

.btn-primary:hover {
  color: rgba(235, 188, 14, 1);
  background-color: #242d34;
  border-color: #242d34;
}

/* ---------------------------------------------------------------------------Gallery */

.lrg-image {
  max-height: 512px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.lrg-image img {
  height: 100%;
  object-fit: cover;
}

.sml-image {
  max-height: 256px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.images {
  width: 100%;
  height: auto;
}
/* ---------------------------------------------------------------------------Media Queries */

@media screen and (max-width: 768px) {
  #hero-text-background {
    width: 250px;
    height: 160px;
  }

  #hero-text-background h3 {
    font-size: 150%;
  }

  .hero-pg-text {
    width: 300px;
    height: 160px;
  }

  .hero-pg-text h3 {
    color: #fafafa;
    font-size: 150%;
  }

  .bg-yellow {
    transform: scale(1);
    margin-right: 0;
    border-radius: 0;
    padding-top: 10px;
  }

  .bg-grey {
    margin-right: 0;
    border-radius: 0;
    padding-top: 10px;
  }

  .packages-container {
    margin-top: 0;
  }
}
