body {
  font-family: "roboto" sans-serif;
}

/* ---------------------------------------------------------------------------Navbar */

.navbar a img {
  height: 50px;
}

.navbar .navbar-nav a {
  font-family: "roboto";
  text-transform: uppercase;
  margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-toggler {
  border: 0;
}

/* ---------------------------------------------------------------------------Footer */

footer {
  font-family: "roboto";
  background-color: #343a40;
  color: white;
}

footer p {
  padding-top: 17px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 25px;
  color: #fafafa;
}
