body {
  font-family: "roboto" sans-serif;
}

/* ---------------------------------------------------------------------------Navbar */

.navbar a img {
  height: 50px;
}

.navbar .navbar-nav a {
  font-family: "roboto";
  text-transform: uppercase;
  margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-toggler {
  border: 0;
}
